* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background: red;
}

.row {
    min-height: 800px;
    width: 75%;
    background: green;
    margin: 0 auto;
}

.yelow-25 {
    min-height: 100px;
    background: yellow;
    width: 25%;
    float: left;
    margin: 10px;
}

.yelow-75 {
    min-height: 100px;
    background: yellow;
    width: 75%;
    float: left;
    margin: 10px;
}

.blue-50 {
    min-height: 100px;
    background: blue;
    width: 50%;
    float: left;
    margin: 10px;
}

.pink {
    min-height: 100px;
    background: palevioletred;
    width: 100%;
    float: left;
    margin: 10px auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

@media (max-width: 540px) and (orientation: landscape) {
    .yelow-25 {
        min-height: 100px;
        background: yellow;
        width: 100%;
        float: left;
        margin: 10px;
    }

    .yelow-75 {
        min-height: 100px;
        background: yellow;
        width: 100%;
        float: left;
        margin: 10px;
    }

    .blue-50 {
        min-height: 100px;
        background: blue;
        width: 100%;
        float: left;
        margin: 10px;
    }

    .pink {
        min-height: 100px;
        background: palevioletred;
        width: 100%;
        float: left;
        margin: 10px auto;
    }